<h1 class="page-header">Admins</h1>
<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
      <h5>Administradores</h5></div>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Email</th>
              <th>Cadastrado em</th>
              <th>Último Acesso</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @admins.each do |admin| %>
            <tr>
              <td><%= admin.name %></td>
              <td><%= admin.email %></td>
              <td><%= admin.created_at %></td>
              <td><%= admin.last_sign_in_at %></td>
              <td class="text-right"><%= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, '/admin/admins/apagar/'+admin.id.to_s,
                method: :delete,
              data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger mr5" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>