<h1 class="page-header">Pedidos</h1>
<div class="row">
	<div class="col-md-12">
		<div class="panel">
			<div class="panel-heading">
			<h5>Pedidos Recebidos</h5></div>
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Ordem</th>
							<th>Cliente</th>
							<th>Vendedor</th>
							<th>Data</th>
							<th>Valor</th>
							<th>Meio de Pagamento</th>
							<th>Status</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% @orders.each do |order| %>
						<tr>
							<td><a href="#">#<%= order.id %></a></td>
							<td><%= order.name %></td>
							<td><%= order.firm %></td>
							<td><%= order.created_at %></td>
							<td>R$ <%= order.value %></td>
							<td><%= get_payment_label(order.payment) %></td>
							<td><%= get_status_label(order.status) %></td>
							<td><%= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, '/admin/pedidos/apagar/'+order.id.to_s,
								method: :delete,
							data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>