<h1 class="page-header">Vendedores</h1>
<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
      <h5>Vendedores</h5></div>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Empresa</th>
              <th>Responsável</th>
              <th>Cidade - UF</th>
              <th>Bairro</th>
              <th>Desde</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @sellers.each do |seller| %>
            <tr>
              <td><%= seller.firm %></td>
              <td><%= seller.name %></td>
              <td><%= seller.city %> - <%= seller.state %></td>
              <td><%= seller.neighborhood %></td>
              <td><%= seller.created_at%></td>
              <td class="text-right"><div class="btn-group" role="group" aria-label="actions"><%= link_to '<i class="glyphicon glyphicon-user"></i>'.html_safe, '/admin/vendedores/'+seller.id.to_s, class: "btn btn-sm btn-default" %> <%= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, '/admin/vendedores/apagar/'+seller.id.to_s,
                method: :delete,
              data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger mr5" %></div></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>