<h1 class="page-header">Clientes</h1>
<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
      <h5>Clientes</h5></div>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Cliente</th>
              <th>Email</th>
              <th>Cidade - UF</th>
              <th>Desde</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
            <tr>
              <td><%= user.name %></td>
              <td><%= user.email %></td>
              <td><%= user.city %> - <%= user.state %></td>
              <td><%=  user.created_at%></td>
              <td class="text-right"><div class="btn-group" role="group" aria-label="actions"><%= link_to '<i class="glyphicon glyphicon-user"></i>'.html_safe, '/admin/clientes/'+user.id.to_s, class: "btn btn-sm btn-default" %> <%= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, '/admin/clientes/apagar/'+user.id.to_s,
                method: :delete,
              data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger mr5" %></div></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>