<h1 class="page-header">Perfil Vendedor</h1>
<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
      <h5>Informações do Vendedor</h5></div>
      <div class="panel-body">
        <div class="row">
          <div class="form-group col-xs-12">
            <label for="user_name">ID</label>
            <p class="form-control-static"><%= @seller.id %></p>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-3">
            <label for="user_name">Empresa</label>
            <p class="form-control-static"><%= @seller.firm %></p>
          </div>
          <div class="form-group col-xs-3">
            <label for="user_email">Distribuidora</label>
            <p class="form-control-static"><%= @seller.distributor %></p>
          </div>
          <div class="form-group col-xs-3">
            <label for="user_email">CNPJ</label>
            <p class="form-control-static"><%= @seller.cnpj %></p>
          </div>
          <div class="form-group col-xs-3">
            <label for="user_email">Responsável</label>
            <p class="form-control-static"><%= @seller.name %></p>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-3">
            <label for="user_name">Email</label>
            <p class="form-control-static"><%= @seller.email %></p>
          </div>
          <div class="form-group col-xs-3">
            <label for="user_email">Telefone</label>
            <p class="form-control-static"><%= @seller.cellphone %></p>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-3">
            <label for="user_name">Cidade - UF</label>
            <p class="form-control-static"><%= @seller.city+' - '+@seller.state %></p>
          </div>
          <div class="form-group col-xs-3">
            <label for="user_name">Bairro</label>
            <p class="form-control-static"><%= @seller.neighborhood %></p>
          </div>
          <div class="form-group col-xs-6">
            <label for="user_name">Endereço</label>
            <p class="form-control-static"><%= @seller.address %></p>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-3">
            <label for="user_email">Data de Cadastro</label>
            <p class="form-control-static"><%= @seller.created_at %></p>
          </div>
          <div class="form-group col-xs-9">
            <label for="user_name">Último Acesso</label>
            <p class="form-control-static"><%= @seller.last_sign_in_at %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
      <h5>Pedidos do Vendedor</h5></div>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Ordem</th>
              <th>Cliente</th>
              <th>Bairro</th>
              <th>Data</th>
              <th>Valor</th>
              <th>Meio de Pagamento</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
            <tr>
              <td><a href="/admin/pedido/<%= order.id %>">#<%= order.id %></a></td>
              <td><%= order.custumer %></td>
              <td><%= order.neighborhood %></td>
              <td><%= order.created_at %></td>
              <td>R$ <%= order.value %></td>
              <td><%= get_payment_label(order.payment) %></td>
              <td><%= get_status_label(order.status) %></td>
              <td><%= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, '/admin/pedidos/apagar/'+order.id.to_s,
                method: :delete,
              data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>