<h1 class="page-header">Perfil Cliente</h1>
<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
      <h5>Informações do Cliente</h5></div>
      <div class="panel-body">
        <div class="row">
          <div class="form-group col-xs-12">
            <label for="user_name">ID</label>
            <p class="form-control-static"><%= @user.id %></p>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-3">
            <label for="user_name">Nome</label>
            <p class="form-control-static"><%= @user.name %></p>
          </div>
          <div class="form-group col-xs-3">
            <label for="user_email">Email</label>
            <p class="form-control-static"><%= @user.email %></p>
          </div>
          <div class="form-group col-xs-3">
            <label for="user_email">CPF</label>
            <p class="form-control-static"><%= @user.cpf %></p>
          </div>
          <div class="form-group col-xs-3">
            <label for="user_email">Data de Cadastro</label>
            <p class="form-control-static"><%= @user.created_at %></p>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-3">
            <label for="user_name">Cidade - UF</label>
            <p class="form-control-static"><%= @user.city+' - '+@user.state  %></p>
          </div>
          <div class="form-group col-xs-3">
            <label for="user_name">Bairro</label>
            <p class="form-control-static"><%= @user.neighborhood %></p>
          </div>
          <div class="form-group col-xs-6">
            <label for="user_name">Endereço</label>
            <p class="form-control-static"><%= @user.address %></p>
          </div>
        </div>
        <div class="row">
          <div class="form-group col-xs-12">
            <label for="user_name">Último Acesso</label>
            <p class="form-control-static"><%= @user.last_sign_in_at %></p>
          </div>
        </div>
      </div>
    </div>
    <div class="panel">
      <div class="panel-heading">
      <h5>Pedidos do Cliente</h5></div>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Ordem</th>
              <th>Empresa</th>
              <th>Vendedor</th>
              <th>Data</th>
              <th>Valor</th>
              <th>Meio de Pagamento</th>
              <th>Status</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
            <tr>
              <td><a href="/admin/pedido/<%= order.id %>">#<%= order.id %></a></td>
              <td><%= order.firm %></td>
              <td><%= order.seller_name %></td>
              <td><%= order.created_at %></td>
              <td>R$ <%= order.value %></td>
              <td><%= get_payment_label(order.payment) %></td>
              <td><%= get_status_label(order.status) %></td>
              <td><%= link_to '<i class="glyphicon glyphicon-remove"></i>'.html_safe, '/admin/pedidos/apagar/'+order.id.to_s,
                method: :delete,
              data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %></td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>