<h1 class="page-header">Financeiro</h1>
<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
      <h5>Financeiro</h5></div>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Mês</th>
              <th>Pedidos</th>
              <th>Entregues</th>
              <th>Cancelados</th>
              <th>Valor Total</th>
              <th><span data-tooltip="true" title="Variação Mês Anterior">VMA</span></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>02/2015</td>
              <td>321</td>
              <td><span class="text-success">314</span></td>
              <td><span class="text-danger">7</span></td>
              <td>R$ 430,00</td>
              <td><span class="text-success">87%</span></td>
            </tr>
            <tr>
              <td>02/2015</td>
              <td>321</td>
              <td><span class="text-success">314</span></td>
              <td><span class="text-danger">7</span></td>
              <td>R$ 430,00</td>
              <td><span class="text-success">87%</span></td>
            </tr>
            <tr>
              <td>02/2015</td>
              <td>321</td>
              <td><span class="text-success">314</span></td>
              <td><span class="text-danger">7</span></td>
              <td>R$ 430,00</td>
              <td><span class="text-success">87%</span></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <!--/col-span-6-->
</div>