<h1 class="page-header">Painel</h1>
<div class="row">
  <div class="col-md-12">
    <div class="panel">
      <div class="panel-heading">
      <h5>Pedidos Abertos</h5></div>
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Ordem</th>
              <th>Cliente</th>
              <th>Bairro</th>
              <th>Data</th>
              <th>Valor</th>
              <th>Meio de Pagamento</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @orders.each do |order| %>
            <tr>
              <td><a href="/painel/invoice/<%= order.id %>" data-toggle="modal">#<%= order.id %></a></td>
              <td><%= order.custumer %></td>
              <td><%= order.neighborhood %></td>
              <td><%= order.created_at %></td>
              <td>R$ <%= order.value %></td>
              <td><%= get_payment_label(order.payment) %></td>
              <td align="right">
                <a href="/painel/entregado/<%= order.id %>" class="btn btn-sm btn-success <%= order.status != 1 ? 'hidden' : '' %>" data-tooltip="true" data-placement="top" title="Entregado" id="delivered_btn_<%= order.id %>"><i class="glyphicon glyphicon-ok"></i></a>
                <a href="/painel/entrega/<%= order.id %>" class="btn btn-sm btn-info"  data-toggle="modal" data-tooltip="true" data-placement="top" title="Detalhes Entrega"><i class="glyphicon glyphicon-map-marker"></i></a>
                <a href="/painel/cancelar/<%= order.id %>" class="btn btn-sm btn-danger" data-tooltip="true" data-placement="top" title="Cancelar"><i class="glyphicon glyphicon-remove"></i></a></td>
              </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <!--/col-span-6-->
  </div>
