<% @order = Order.joins(:user).select("orders.*", "users.name", "users.email", "users.address", "users.neighborhood", "users.city", "users.state").where(seller_id: current_seller, id: params[:id]).take
  %>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">Informações Pedido #<%= @order.id %></h4>
</div>
<div class="modal-body">
  <div class="row pad-top-botm client-info">
    <div class="col-lg-6 col-md-6 col-sm-6">
      <h4> Informações do Cliente</h4>
      <strong>  <%= @order.name %></strong>
      <br>
      <b>Endereço :</b>  <%= @order.address+' ,'+@order.neighborhood+', '+@order.city+' - '+@order.state %>
      <br>
      <b>E-mail :</b> <%= @order.email %>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6">
      
      <h4>  Detalhes Pagamento</h4>
      <b>Montante Total:  R$ <%= @order.value %>  </b>
      <br>
      <b>Data:</b>  <%= @order.created_at %> 
      <br>
      <b>Meio de pagamento: </b>  <span class="label label-info">DINHEIRO</span>
      <br>
      <b>Data da entrega:</b>  <%= @order.delivery_date %> 
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>Item</th>
              <th>Descrição</th>
              <th>Quantidade</th>
              <th>Prec. Unitário</th>
              <th>Sub Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Botijão P-20</td>
              <td>1</td>
              <td>R$ <%= @order.value %> </td>
              <td>R$ <%= @order.value %> </td>
            </tr>
            
          </tbody>
        </table>
      </div>
      <hr>
      <div class="text-right">
        <h5>  Valor: R$ <%= @order.value %>  </h5>
        <hr>
        <h5>  Impostos: R$ 0,00 (~ 0%) </h5>
        <hr>
        <h4> <strong>Valor Final : R$ <%= @order.value %> </strong> </h4>
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  <button type="button" class="btn btn-primary">Imprimir</button>
</div>
</div>