<% @order = Order.joins(:user).select("orders.*", "users.name", "users.address", "users.neighborhood", "users.city", "users.state").where(seller_id: current_seller, id: params[:id]).take
  %>
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
  <h4 class="modal-title" id="myModalLabel">Informações Entrega #<%= @order.id %></h4>
</div>
<div class="modal-body">
  <iframe width="100%" height="350" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/directions?origin=<%= current_seller.address+' '+current_seller.neighborhood%>&destination=<%= @order.address+' '+@order.neighborhood%>&key=<%= get_maps_api %>" allowfullscreen></iframe>
  <div class="row pad-top-botm client-info">
    <div class="col-sm-12">
      <b>Cliente:</b> <%= @order.name %>
      <br>
      <b>Endereço:</b> <%= @order.address+' ,'+@order.neighborhood+', '+@order.city+' - '+@order.state %>
      <br>
      <b>Pagamento:</b> <%= get_payment_label @order.payment %>
      <br>
      <b>Informações Adicionais:</b> <%= @order.information%>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  <% if @order.status == 0 %>
    <button type="button" class="btn btn-success" id="delivery" order-id="<%= @order.id %>">Entregar</button>
  <% end %>
</div>