<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label 'Empresa' %><br />
    <%= f.name_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :cnpj %><br />
    <%= f.cnpj_field :cnpj, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :cellphone %><br />
    <%= f.cellphone_field :cellphone, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= f.address_field :address, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :address %><br />
    <%= options_for_select([['ACRE - AC', 1], ['AMAPÁ - AP', 2]]) %>
  </div>


  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h3>Cancel my account</h3>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Back", :back %>
