<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="">
		<meta name="author" content="HomeGás">
		<title>HomeGás - Entrega de gás em casa</title>
		<!-- Bootstrap core CSS -->
		<link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700)">
		<!-- Bootstrap core CSS -->
		<link href="/assets/bootstrap.min.css" rel="stylesheet">
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
		<!-- Custom styles for this template -->
		<link href="/assets/site.css" rel="stylesheet">
		<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
		<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->
		<%= csrf_meta_tags %>
	</head>
	<body>
		<div class="site-wrapper">
			<div class="site-wrapper-inner">
				<div class="cover-container"  style="width:85%;">
					<div class="masthead clearfix"  style="width:85%;">
						<div class="inner"><img class="logo" src="assets/logo-homegas.png">
							<nav>
								<ul class="nav masthead-nav">
									<li><a href="/">INÍCIO</a></li>
									<li><a href="#">Como Funciona</a></li>
									<li><a href="/cadastro-vendedor">Vendedores</a></li>
									<li><a href="#">Contato</a></li>
									<% if user_signed_in? %>
									<li><a href="/pedidos" class="login">Pedidos</a></li>
									<% end %>
									<% if admin_signed_in? %>
									<li><a href="/admin" class="login">Admin</a></li>
									<% end %>
									<% if seller_signed_in? %>
									<li><a href="/painel" class="login">Painel</a></li>
									<% end %>
									<% if !user_signed_in? && !admin_signed_in? && !seller_signed_in? %>
									<li><a href="/login" class="login">Login</a></li>
									<% end %>
								</ul>
							</nav>
						</div>
					</div>
					<div class="inner cover">
						<h1 class="cover-heading">ENTREGA DE GÁS</h1>
						<h4 class="cover-heading">Peça gratuitamente e receba de forma rápida em casa.</h4>
						<div class="row">
							<div class="col-md-5 col-sm-12">
								<%= form_tag("/busca") do %>
								<div class="input-group input-group-lg cover-heading">
									
									<input name="zipcode" class="form-control" placeholder="Seu CEP..." type="text">
									<span class="input-group-btn">
										<button class="btn btn-primary" type="submit">Pedir agora >></button>
									</span>
									
								</div>
								<% end %>
							</div>
							<div class="col-md-7">
							</div>
						</div>
						
					</div>
					<div class="mastfoot">
						<div class="inner">Presente em mais de 30 cidades! Apenas vendedores confiáveis!</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Bootstrap core JavaScript
		================================================== -->
		<!-- Placed at the end of the document so the pages load faster -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
		<script src="../../dist/js/bootstrap.min.js"></script>
		<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
		<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
	</body>
</html>