<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Pedidos - HomeGás</title>
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/assets/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/assets/search.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-fixed-top">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img height="100%" src="/assets/logo-homegas.png"></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/pedidos">Pedidos</a></li>
          <li><a href="/dados">Dados</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/users/sign_out">Sair</a></li>
        </ul>
        </div><!--/.nav-collapse -->
      </nav>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="row">
              <div class="col-md-12">
              <h3>Olá, <%= current_user.name %>!</h3>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Ordem</th>
                        <th>Empresa</th>
                        <th>Vendedor</th>
                        <th>Data</th>
                        <th>Valor</th>
                        <th>Meio de Pagamento</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% @orders.each do |order| %>
                      <tr>
                        <td><a href="">#<%= order.id %></a></td>
                        <td><%= order.firm %></td>
                        <td><%= order.seller_name %></td>
                        <td><%= order.created_at %></td>
                        <td><%= order.value %></td>
                        <td><%= get_payment_label(order.payment) %></td>
                        <td><%= get_status_label(order.status) %></td>
                      </tr>
                      <% end %>
                    </tbody>
                  </table>
                </div>
              </div>
              <!--/col-span-6-->
            </div>
          </div>
        </div>
      </div>
      
      <script src="/assets/jquery.min.js"></script>
      <script src="/assets/bootstrap.min.js"></script>
      <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
      <script src="/assets/ie10-viewport-bug-workaround.js"></script>
    </body>
  </html>