<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Signin Template for Bootstrap</title>
    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/assets/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/assets/search.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= csrf_meta_tag %>
  </head>
  <body>
    <nav class="navbar navbar-fixed-top">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"><img height="100%" src="/assets/logo-homegas.png"></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/">VOLTAR</a></li>
        </ul>
        </div><!--/.nav-collapse -->
      </nav>
      <div class="container" style="margin-top: 60px;">
        <%= form_for(:seller, url: registration_path(:seller), :html => {:class => 'form-signin'}) do |f| %>
        <div class="form-group">
          <%= f.text_field :firm, class: 'form-control', placeholder: 'Empresa' %>
        </div>
        <div class="form-group">
          <%= f.text_field :cnjp, class: 'form-control cnpfj', placeholder: 'CNPJ' %>
        </div>
        <div class="form-group">
          <%= f.text_field :zip_code, class: 'form-control zipcode', placeholder: 'CEP' %>
        </div>
        <div class="form-group">
          <%= f.text_field :city, class: 'form-control city_field', placeholder: 'Cidade' %>
        </div>
        <div class="form-group">
          <%= f.text_field :state, class: 'form-control state_field', placeholder: 'Estado' %>
        </div>
        <div class="form-group">
          <%= f.text_field :neighborhood, class: 'form-control neighborhood_field', placeholder: 'Bairro' %>
        </div>
        <div class="form-group">
          <%= f.text_field :address, class: 'form-control address_field', placeholder: 'Endereço' %>
        </div>
        <div class="form-group">
          <%= f.text_field :distributor, class: 'form-control', placeholder: 'Distribuidora' %>
        </div>
        <div class="form-group">
          <%= f.text_field :name, class: 'form-control', placeholder: 'Nome do responsável' %>
        </div>
        <div class="form-group">
          <%= f.text_field :cellphone, class: 'form-control', placeholder: 'Telefone' %>
        </div>
        <div class="form-group">
          <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Senha' %>
          <% if @validatable %>
          <span class="help-block"><%= @minimum_password_length %> characters minimum</span>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirmação de Senha' %>
        </div>
        <%= f.submit "Cadastrar", class: 'btn btn-lg btn-primary btn-block' %>
        <% end %>
        </div>
        <!-- /container -->
        <script src="https://code.jquery.com/jquery.min.js"></script>
        <script src="/assets/jquery.mask.min.js"></script>
        <script src="/assets/bootstrap.min.js"></script>
        <script src="/assets/site.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="/assets/ie10-viewport-bug-workaround.js"></script>
      </body>
    </html>