<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Buscar Vendedor</title>
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
    <!-- Bootstrap core CSS -->
    <link href="/assets/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/assets/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/assets/search.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <%= csrf_meta_tags %>
  </head>
  <body>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-fixed-top">
      <div class="navbar-header">
        <a class="navbar-brand" href="#"></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li class="active"><a href="/">VOLTAR</a></li>
        </ul>
        </div><!--/.nav-collapse -->
      </nav>
      <div class="row" style="margin:0; padding-top: 50px;">
        <div class="col-sm-12 col-md-6" style="padding-top: 10px;">
          <form class="new_user" id="new_user" action="/users" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="authenticity_token" value="ScMo9sbicgDDlS6crKgv2/aXXYAWV9T/lwXOItvtnzKPkUDR9bd6KmWR/jgUs+RCPDtOgS/CdZ+qiVs+w/6U6g==">
          
          <div class="form-group">
            <label for="user_name">VENDEDOR</label>
            <p class="form-control-static"><%= @sellers.name %></p>
          </div>
          <div class="form-group">
            <label for="user_email">DISTRIBUIDOR</label>
            <p class="form-control-static"><%= @sellers.distributor %></p>
          </div>
          <div class="form-group">
            <label for="user_password">PREÇO</label>
            <p class="form-control-static text-success">R$ 62,00</p>
            <span class="help-block"><small>impostos incluídos</small></span>
          </div><div class="form-group">
          <label for="user_password">TEMPO DE ENTREGA</label>
          <p class="form-control-static">15 minutos</p>
          
        </div>
        <% if !user_signed_in? %>
        <div class="form-group">
          <label for="user_password">FORMAS DE PAGAMENTO</label>
          <p class="form-control-static"><span class="label label-info">CARTÃO </span> <span class="label label-success">DINHEIRO</span></p>
          
        </div>
        <% end %>
        <% if user_signed_in? %>
        <%= form_tag("/pedir") do %>
        
        
        <div class="form-group">
          <label for="user_password">PAGAR COM</label>
          <select class="form-control" name="payment">
            <option value="0">DINHEIRO</option>
            <option value="1">CARTÃO</option>
          </select>
        </div>
        
        <div class="form-group">
          <label for="user_password">INFORMAÇÕES ADICIONAIS</label>
          <textarea class="form-control" name="information" rows="3" placeholder="Deseja adicionar alguma informação para o vendedor?"></textarea>
          
        </div>
        <input type="hidden" name="seller_id" value="<%= @sellers.id %>">
      <button type="submit" id="order" class="btn btn-primary test">CONFIRMAR >> </a>
      <% end %>
      
      <% else %>
      <hr>
      <a href="#" class="btn btn-primary" data-toggle="modal" data-target="#modal-login">LOGIN</a> <a href="#" class="btn btn-success" data-toggle="modal" data-target="#modal-register">CRIAR CONTA</a>
      <% end %>
    </form>
  </div>
  <div class="col-md-6" style="padding:0;">
    <iframe id="map_main" width="100%" height="600" frameborder="0" style="border:0"
    src="https://www.google.com/maps/embed/v1/directions?origin=<%= @sellers.address+' '+@sellers.neighborhood%>&destination=<%= @location[:address]+' '+@location[:neighborhood]%>&key=<%= get_maps_api %>" allowfullscreen></iframe>
  </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modal-login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
      <div class="modal-body">
        <%= form_for(:user, :url => session_path(:user)) do |f| %>
        <div class="form-group">
          <%= f.label :email %>
          <%= f.text_field :email, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label :password %>
          <%= f.password_field :password, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
        
        <%= link_to "Esqueçeu a senha?", new_password_path(:user) %>
        
      </div>
      <div class="modal-footer">
        <%= f.submit 'LOGIN', class: 'btn btn-primary' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<div class="modal fade" id="modal-register" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Criar Conta</h4>
      </div>
      <div class="modal-body">
        <%= form_for(:user, url: registration_path(:user)) do |f| %>
        <div class="form-group">
          <%= f.text_field :name, class: 'form-control', placeholder: 'Nome' %>
        </div>
        <div class="form-group">
          <%= f.text_field :cpf, class: 'form-control cnpfj', placeholder: 'CPF' %>
        </div>
        <div class="form-group">
          <%= f.text_field :zipcode, class: 'form-control zipcode', placeholder: 'CEP' %>
        </div>
        <div class="form-group">
          <%= f.text_field :city, class: 'form-control city_field', placeholder: 'Cidade' %>
        </div>
        <div class="form-group">
          <%= f.text_field :state, class: 'form-control state_field', placeholder: 'Estado'  %>
        </div>
        <div class="form-group">
          <%= f.text_field :neighborhood, class: 'form-control neighborhood_field', placeholder: 'Bairro' %>
        </div>
        <div class="form-group">
          <%= f.text_field :cpf, class: 'form-control address_field', placeholder: 'Endereço' %>
        </div>
        <div class="form-group">
          <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>
        </div>
        <div class="form-group">
          <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Senha' %>
          <% if @validatable %>
          <span class="help-block"><%= @minimum_password_length %> characters minimum</span>
          <% end %>
        </div>
        <div class="form-group">
          <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Confirmação de senha' %>
        </div>
        
        
      </div>
      <div class="modal-footer">
        <%= f.submit "CRIAR CONTA", class: 'btn btn-success' %>
      </div>
      <% end %>
    </div>
  </div>
</div>
<script src="/assets/jquery.min.js"></script>
<script src="/assets/bootstrap.min.js"></script>
<script src="/assets/site.js"></script>
<script src="/assets/jquery.mask.min.js"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="/assets/ie10-viewport-bug-workaround.js"></script>
</body>
</html>