
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <title>Dashboard</title>
    <!-- Bootstrap core CSS -->
    <link href="../../dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="../../assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700)">
    <!-- Custom styles for this template -->
    <link href="dashboard.css" rel="stylesheet">
    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="../../assets/js/ie-emulation-modes-warning.js"></script>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><img src="logo-homegas.png"></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Dashboard</a></li>
          <li><a href="#">Settings</a></li>
          <li><a href="#">Profile</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>
    </nav>
    <!-- Menu Left -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="tq" style="
              padding: 20px 20px;
              font-size: 13px;
            ">Nome do Vendedor</li>
            <li class="active"><a href="#"><i class="glyphicon glyphicon-home pull-left"></i>Painel<span class="sr-only">(current)</span></a></li>
            <li><a href="#"><i class="glyphicon glyphicon-list-alt"></i>Pedidos</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-map-marker pull-left" style="
              margin-right: 10px;
            "></i>Locais de Entrega</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-usd glyphicon-wrench pull-left"></i>Financeiro</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-asterisk pull-left"></i>Dados</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">Painel</h1>
          <div class="row">
            <div class="col-md-12">
              <div class="panel">
                <div class="panel-heading">
                <h5>Pedidos Abertos</h5></div>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Ordem</th>
                        <th>Cliente</th>
                        <th>Bairro</th>
                        <th>Data</th>
                        <th>Valor</th>
                        <th>Meio de Pagamento</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><a href="">#0445</a></td>
                        <td>Fulano da Silva</td>
                        <td>Gama - Setor Central</td>
                        <td><span class="text-info">há 3 minutos</span></td>
                        <td>R$ 62,00</td>
                        <td><span class="label label-success">DINHEIRO</span></td>
                        <td align="right"><a href="http://www.aviancavirtual.net/aos/dispatch" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-ok"></i></a>
                        <a href="http://www.aviancavirtual.net/aos/dispatch" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a></td>
                      </tr>
                      <tr>
                        <td><a href="">#0445</a></td>
                        <td>Fulano da Silva</td>
                        <td>Gama - Setor Sul</td>
                        <td><span class="text-info">há 5 minutos</span></td>
                        <td>R$ 62,00</td>
                        <td><span class="label label-success">DINHEIRO</span></td>
                        <td align="right"><a href="http://www.aviancavirtual.net/aos/dispatch" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-ok"></i></a>
                        <a href="http://www.aviancavirtual.net/aos/dispatch" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a></td>
                      </tr>
                      <tr>
                        <td><a href="">#0445</a></td>
                        <td>Fulano da Silva</td>
                        <td>Gama - Setor Central</td>
                        <td><span class="text-danger">Hoje - 08:37</span></td>
                        <td>R$ 62,00</td>
                        <td><span class="label label-info">CARTÃO</span></td>
                        <td align="right"><a href="http://www.aviancavirtual.net/aos/dispatch" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-ok"></i></a>
                        <a href="http://www.aviancavirtual.net/aos/dispatch" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-remove"></i></a></td>
                      </tr>
                      <tr>
                        <td><a href="#" data-toggle="modal" data-target="#myModal">#0445</a></td>
                        <td>Fulano da Silva</td>
                        <td>Gama - Setor Norte</td>
                        <td><span class="text-warning">Ontem - 21:30</span></td>
                        <td>R$ 62,00</td>
                        <td><span class="label label-success">DINHEIRO</span></td>
                        <td align="right">
                        <a href="" class="btn btn-sm btn-success"  data-toggle="modal" data-target="#myModalDeliv" data-tooltip="true" data-placement="top" title="Entregue"><i class="glyphicon glyphicon-ok"></i></a> 
                        <a href="" class="btn btn-sm btn-info"  data-toggle="modal" data-target="#myModalDeliv" data-tooltip="true" data-placement="top" title="Detalhes Entrega"><i class="glyphicon glyphicon-map-marker"></i></a>
                        <a href="http://www.aviancavirtual.net/aos/dispatch" class="btn btn-sm btn-danger" data-tooltip="true" data-placement="top" title="Cancelar"><i class="glyphicon glyphicon-remove"></i></a></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!--/col-span-6-->
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="panel">
                <div class="panel-heading">
                <h5>Financeiro</h5></div>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Mês</th>
                        <th>Pedidos</th>
                        <th>Entregues</th>
                        <th>Cancelados</th>
                        <th>Valor Total</th>
                        <th><span data-tooltip="true" title="Variação Mês Anterior">VMA</span></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>02/2015</td>
                        <td>321</td>
                        <td><span class="text-success">314</span></td>
                        <td><span class="text-danger">7</span></td>
                        <td>R$ 430,00</td>
                        <td><span class="text-success">87%</span></td>
                      </tr>
                      <tr>
                        <td>02/2015</td>
                        <td>321</td>
                        <td><span class="text-success">314</span></td>
                        <td><span class="text-danger">7</span></td>
                        <td>R$ 430,00</td>
                        <td><span class="text-success">87%</span></td>
                      </tr>
                      <tr>
                        <td>02/2015</td>
                        <td>321</td>
                        <td><span class="text-success">314</span></td>
                        <td><span class="text-danger">7</span></td>
                        <td>R$ 430,00</td>
                        <td><span class="text-success">87%</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!--/col-span-6-->
          </div>

          <div class="row">
            <div class="col-md-12">
              <div class="panel">
                <div class="panel-heading">
                <h5>Financeiro</h5></div>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Mês</th>
                        <th>Pedidos</th>
                        <th>Entregues</th>
                        <th>Cancelados</th>
                        <th>Valor Total</th>
                        <th><span data-tooltip="true" title="Variação Mês Anterior">VMA</span></th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>02/2015</td>
                        <td>321</td>
                        <td><span class="text-success">314</span></td>
                        <td><span class="text-danger">7</span></td>
                        <td>R$ 430,00</td>
                        <td><span class="text-success">87%</span></td>
                      </tr>
                      <tr>
                        <td>02/2015</td>
                        <td>321</td>
                        <td><span class="text-success">314</span></td>
                        <td><span class="text-danger">7</span></td>
                        <td>R$ 430,00</td>
                        <td><span class="text-success">87%</span></td>
                      </tr>
                      <tr>
                        <td>02/2015</td>
                        <td>321</td>
                        <td><span class="text-success">314</span></td>
                        <td><span class="text-danger">7</span></td>
                        <td>R$ 430,00</td>
                        <td><span class="text-success">87%</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!--/col-span-6-->
          </div>
          
          <!-- Modal -->
          <div class="modal fade" id="myModalDeliv" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Informações Entrega #10032</h4>
                </div>
                <div class="modal-body">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d11166.27791288359!2d-48.04853779512198!3d-15.988139595291983!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x447f05b6f05fa281!2sUnB+Gama!5e0!3m2!1sen!2sbr!4v1467577728344" width="100%" height="350" frameborder="0" style="border:0" allowfullscreen></iframe>
                  <div class="row pad-top-botm client-info">
                    <div class="col-sm-12">
                      <b>Cliente:</b> Fulano da Silva
                      <br>
                      <b>Endereço:</b> Quadra 205, Conjunto 14, Casa 23. Setor Central, Gama - DF
                      <br>
                      <b>Telefone:</b> (61) 90000-0000
                      <br>
                      <b>Pagamento:</b> <span class="label label-success">DINHEIRO</span>
                      <br>
                      <b>Informações Adicionais:</b> Troco para 50 reais.
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-success">Entregar</button>
                </div>
              </div>
            </div>
          </div>

          <!-- Modal -->
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title" id="myModalLabel">Informações Pedido #10032</h4>
                </div>
                <div class="modal-body">
                  <div class="row pad-top-botm client-info">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                      <h4> Informações do Cliente</h4>
                      <strong>  Fulano da Silva</strong>
                      <br>
                      <b>Endereço :</b> Quadra 205, Conjunto 14, Casa 23. Setor Central, Gama - DF
                      <br>
                      <b>Telefone :</b> (61) 90000-0000
                      <br>
                      <b>E-mail :</b> fulanodasilva@gashome.com
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                      
                      <h4>  Detalhes Pagamento</h4>
                      <b>Montante Total:  R$ 42,00 </b>
                      <br>
                      <b>Data:</b>  04 de Julho de 2016
                      <br>
                      <b>Meio de pagamento: </b>  <span class="label label-info">DINHEIRO</span>
                      <br>
                      <b>Data da entrega:</b>  04 de Julho de 2016
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                      <div class="table-responsive">
                        <table class="table table-hover">
                          <thead>
                            <tr>
                              <th>Item</th>
                              <th>Descrição</th>
                              <th>Quantidade</th>
                              <th>Prec. Unitário</th>
                              <th>Sub Total</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>1</td>
                              <td>Botijão P-20</td>
                              <td>1</td>
                              <td>R$ 42,00</td>
                              <td>R$ 42,00</td>
                            </tr>
                            
                          </tbody>
                        </table>
                      </div>
                      <hr>
                      <div class="text-right">
                        <h5>  Valor: R$ 42,00 </h5>
                        <hr>
                        <h5>  Impostos: R$ 3,00 (~ 7%) </h5>
                        <hr>
                        <h4> <strong>Valor Final : R$ 42,00</strong> </h4>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="button" class="btn btn-primary">Imprimir</button>
                </div>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-md-12">
              <div class="panel">
                <div class="panel-heading">
                <h5>Pedidos Recebidos</h5></div>
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead>
                      <tr>
                        <th>Ordem</th>
                        <th>Cliente</th>
                        <th>Bairro</th>
                        <th>Data</th>
                        <th>Valor</th>
                        <th>Meio de Pagamento</th>
                        <th>Status</th>
                      </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><a href="">#0445</a></td>
                        <td>Fulano da Silva</td>
                        <td>Gama - Setor Central</td>
                        <td>20/06/2016 - 14:56</td>
                        <td>R$ 62,00</td>
                        <td><span class="label label-success">DINHEIRO</span></td>
                        <td><span class="label label-warning">PENDENTE</span></td>
                      </tr>
                      <tr>
                        <td><a href="">#0445</a></td>
                        <td>Fulano da Silva</td>
                        <td>Gama - Setor Central</td>
                        <td>20/06/2016 - 14:56</td>
                        <td>R$ 62,00</td>
                        <td><span class="label label-success">DINHEIRO</span></td>
                        <td><span class="label label-success">SAIU P/ ENTREGA</span></td>
                      </tr>
                      <tr>
                        <td><a href="">#0445</a></td>
                        <td>Fulano da Silva</td>
                        <td>Gama - Setor Central</td>
                        <td>20/06/2016 - 14:56</td>
                        <td>R$ 62,00</td>
                        <td><span class="label label-success">DINHEIRO</span></td>
                        <td><span class="label label-info">ENTREGUE</span></td>
                      </tr>
                      <tr>
                        <td><a href="">#0445</a></td>
                        <td>Fulano da Silva</td>
                        <td>Gama - Setor Central</td>
                        <td>20/06/2016 - 14:56</td>
                        <td>R$ 62,00</td>
                        <td><span class="label label-info">CARTÃO</span></td>
                        <td><span class="label label-danger">CANCELADO</span></td>
                      </tr>
                      <tr>
                        <td><a href="">#0445</a></td>
                        <td>Fulano da Silva</td>
                        <td>Gama - Setor Central</td>
                        <td>20/06/2016 - 14:56</td>
                        <td>R$ 62,00</td>
                        <td><span class="label label-success">DINHEIRO</span></td>
                        <td><span class="label label-info">ENTREGUE</span></td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
            <!--/col-span-6-->
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
    $(function () {
  $('[data-tooltip="true"]').tooltip()
})</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
<%= current_user.name %>