<div class="row">
	<div class="col-md-12">
		<div class="panel">
			<div class="panel-heading">
			<h5>Pedidos Recebidos</h5></div>
			<div class="table-responsive">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Ordem</th>
							<th>Cliente</th>
							<th>Vendedor</th>
							<th>Data</th>
							<th>Valor</th>
							<th>Meio de Pagamento</th>
							<th>Status</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<% @orders.each do |order| %>
						<tr>
							<td><a href="#">#<%= order.id %></a></td>
							<td><%= order.seller %></td>
							<td><%= order.seller %></td>
							<td><%= order.created_at %></td>
							<td>R$ <%= order.value %></td>
							<td>
								<% if order.status == 0 %>
								<span class="label label-success">DINHEIRO</span>
								<% else %>
								<span class="label label-info">CARTÃO</span>
							<% end %></td>
							<td>
								<% if order.status == 0 %>
								<span class="label label-warning">PENDENTE</span>
								<% elsif order.status == 1 %>
								<span class="label label-success">EM ENTREGA</span>
								<% elsif order.status == 2 %>
								<span class="label label-info">ENTREGUE</span>
								<% elsif order.status == 3 %>
								<span class="label label-success">CANCELADO</span>
								<% else %>
								<span class="label label-primary">NO IDENT</span>
							<% end %></td>
							<td><a href="#" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-pencil"></i></a></td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>