<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="HomeGás Services">
    <meta name="author" content="HomeGás">
    <link rel="icon" href="../../favicon.ico">
    <title>Dashboard</title>
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Roboto:300,400,500,300italic'>
    <link href="/assets/bootstrap.min.css" rel="stylesheet">
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/assets/dashboard.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    
    <%= csrf_meta_tags %>
  </head>
  <body>
    <nav class="navbar navbar-fixed-top">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#"><%= image_tag("/assets/logo-homegas.png", :alt => "logo") %></a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#"><%= current_admin.name %></a></li>
          <li><a href="/admins/sign_out">Sair</a></li>
        </ul>
      </div>
    </nav>
    <!-- Menu Left -->
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li style="
              padding: 20px 20px;
              font-size: 13px;
            "><%= current_admin.name %></li>
            <li><a href="/admin"><i class="glyphicon glyphicon-home pull-left"></i>Painel<span class="sr-only">(current)</span></a></li>
            <li><a href="/admin/vendedores"><i class="glyphicon glyphicon-tags"></i>Vendedores</a></li>
            <li><a href="/admin/clientes"><i class="glyphicon glyphicon-user pull-left"></i>Clientes</a></li>
            <li><a href="/admin/clientes"><i class="glyphicon glyphicon-list-alt pull-left"></i>Pedidos</a></li>
            <li><a href="#"><i class="glyphicon glyphicon-usd glyphicon-wrench pull-left"></i>Financeiro</a></li>
            <li><a href="/admin/admins"><i class="glyphicon glyphicon-map-marker pull-left"></i>Admins</a></li>
            <li><a href="/admin/edit"><i class="glyphicon glyphicon-asterisk pull-left"></i>Alterar Dados</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <%= yield %>
        </div>
      </div>
    </div>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')
    $(function () {
    $('[data-tooltip="true"]').tooltip()
    })</script>
    <script src="/assets/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="/assets/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>